<footer class="main-footer">
  <div class="container">

    <nav class="main-menu footer-menu">
      <ul>
        <li class="active"><a href="#">Electronics</a></li>
        <li><a href="#">IT News</a></li>
        <li><a href="#">Reviews</a></li>
        <li><a href="#">Lifehacks</a></li>
        <li><a href="#">DIY</a></li>
        <li><a href="#">About us</a></li>
      </ul>
    </nav>

    <nav class="soc">
      <ul>
        <li><a href="#"><i class="fa fa-vk"></i></a></li>
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-odnoklassniki"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-rss"></i></a></li>
      </ul>
    </nav>

  </div>
</footer>

<footer class="bottom-footer">
  <div class="container text-center">
    <div class="footer-copy">
      2020 &copy; <span class="logo-footer logo-litera">ELECTRON</span>
    </div>
    <p>All rights reserved. Copying content without allowance is prohibited.</p>
  </div>
</footer>

<script src="js/scripts.min.js"></script>
</body>

</html>