<footer class="main-footer">
  <div class="container">

    <nav class="main-menu footer-menu">
      {%- include /main-menu.html -%}
    </nav>

    <nav class="soc">
      <ul>
        {{ site.soc }}
      </ul>
    </nav>

  </div>
</footer>

<footer class="bottom-footer">
  <div class="container text-center">
    <div class="footer-copy">
      {{ site.time | date: '%Y' }} &copy; <span class="logo-footer logo-litera">ELECTRON</span>
    </div>
    <p>{{ site.copyright }}</p>
  </div>
</footer>

<script src="js/scripts.min.js"></script>
</body>

</html>