<section class="fourth-section">
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-12">
        <div class="fourth-section-header">
          <h2>
            <a href="#">Lifehacks</a>
          </h2>
        </div>
      </div>

      <div class="col-md-8 col-sm-6">
        <div class="row no-gutters">

          <div class="col-md-6">
            <div class="pattern">
              <div class="overlay item-title" style="background-image: url(img/blog/lifehacks/14.jpg)">
                <div class="item-title-content">
                  <h3><a href="#">How to take photo of yourself by smartphone with reflex camera</a></h3>
                  <div class="item-social">
                    <div class="item-comments">
                      <i class="fa fa-comments"></i><a href="#disqus_thread" class="item-comments-count">26</a>
                      <span class="date">06/11/2019</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="col-md-6">
            <div class="pattern">
              <div class="overlay item-title" style="background-image: url(img/blog/lifehacks/15.jpg)">
                <div class="item-title-content">
                  <h3><a href="#">How to take photo of yourself by smartphone with reflex camera</a></h3>
                  <div class="item-social">
                    <div class="item-comments">
                      <i class="fa fa-comments"></i><a href="#disqus_thread" class="item-comments-count">26</a>
                      <span class="date">06/11/2019</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="col-md-6">
            <div class="pattern">
              <div class="overlay item-title" style="background-image: url(img/blog/lifehacks/16.jpg)">
                <div class="item-title-content">
                  <h3><a href="#">How to take photo of yourself by smartphone with reflex camera</a></h3>
                  <div class="item-social">
                    <div class="item-comments">
                      <i class="fa fa-comments"></i><a href="#disqus_thread" class="item-comments-count">26</a>
                      <span class="date">06/11/2019</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="col-md-6">
            <div class="pattern">
              <div class="overlay item-title" style="background-image: url(img/blog/lifehacks/17.jpg)">
                <div class="item-title-content">
                  <h3><a href="#">How to take photo of yourself by smartphone with reflex camera</a></h3>
                  <div class="item-social">
                    <div class="item-comments" title="Number of comments">
                      <i class="fa fa-comments"></i><a href="#disqus_thread" class="item-comments-count">26</a>
                      <span class="date">06/11/2019</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="col-md-4 col-sm-6">

        <div class="aside-box">
          <img src="img/ad-vertical.jpg" alt="alt" class="img-responsive">
        </div>

      </div>

    </div>
  </div>
</section>