<section class="second-section">

  <div class="container-fluid">
    <div class="row">

      <div class="col-md-8">
        <h2><a href="#">IT News</a></h2>

        <div class="row news-wrap">

          <div class="col-md-6">
            <div class="pattern">
              <a href="#" class="overlay item-news" style="background-image: url(img/blog/news/6.jpg)">
                <div class="item-news-content">
                  <h3>Previous generation iPhone Gold was put on pumpkin</h3>
                  <span class="date">21/06/2020</span>
                </div>
              </a>
            </div>
          </div>

          <div class="col-md-6">
            <div class="pattern">
              <a href="#" class="overlay item-news" style="background-image: url(img/blog/news/7.jpg)">
                <div class="item-news-content">
                  <h3>Programmer's vision got worse after 20 years of working</h3>
                  <span class="date">21/06/2020</span>
                </div>
              </a>
            </div>
          </div>

          <div class="col-md-6">
            <div class="pattern">
              <a href="#" class="overlay item-news" style="background-image: url(img/blog/news/8.jpg)">
                <div class="item-news-content">
                  <h3>The first vinyl disk without tracks was found</h3>
                  <span class="date">21/06/2020</span>
                </div>
              </a>
            </div>
          </div>

          <div class="col-md-6">
            <div class="pattern">
              <a href="#" class="overlay item-news" style="background-image: url(img/blog/news/9.jpg)">
                <div class="item-news-content">
                  <h3>Mad made the first photo of sea in field</h3>
                  <span class="date">21/06/2020</span>
                </div>
              </a>
            </div>
          </div>

        </div>

      </div>

      <div class="col-md-4">

        <div class="aside-box">
          <img src="img/vk-witget.jpg" alt="alt" class="img-responsive">
        </div>

        <div class="aside-box">
          <img src="img/ad-cube.jpg" alt="ad" class="img-responsive">
        </div>

      </div>

    </div>
  </div>

</section>