<section class="third-section dark-section">

  <div class="container-fluid">

    <h2><a href="#">Reviews</a></h2>

    <div class="row">

      <div class="col-md-3">
        <div class="col-item col-item-dark">
          <a href="#">
            <img src="img/blog/reviews/10.jpg" alt="alt" class="img-responsive img-width overlay" title="New smartphone with vacuum cleaner function became world hit">
          </a>
          <div class="col-item-meta">
            <div class="item-comments" title="Number of comments">
              <span class="date">25/12/2017</span>
              <i class="fa fa-comments"></i><a href="#disqus_thread" class="item-comments-count">26</a>
            </div>
          </div>
          <h4><a href="#">New smartphone with vacuum cleaner function became world hit</a></h4>
        </div>
      </div>

      <div class="col-md-3">
        <div class="col-item col-item-dark">
          <a href="#">
            <img src="img/blog/reviews/11.jpg" alt="alt" class="img-responsive img-width overlay" title="New smartphone with vacuum cleaner function became world hit">
          </a>
          <div class="col-item-meta">
            <div class="item-comments" title="Number of comments">
              <span class="date">25/12/2017</span>
              <i class="fa fa-comments"></i><a href="#disqus_thread" class="item-comments-count">26</a>
            </div>
          </div>
          <h4><a href="#">New smartphone with vacuum cleaner function became world hit</a></h4>
        </div>
      </div>

      <div class="col-md-3">
        <div class="col-item col-item-dark">
          <a href="#">
            <img src="img/blog/reviews/12.jpg" alt="alt" class="img-responsive img-width overlay" title="New smartphone with vacuum cleaner function became world hit">
          </a>
          <div class="col-item-meta">
            <div class="item-comments" title="Number of comments">
              <span class="date">25/12/2017</span>
              <i class="fa fa-comments"></i><a href="#disqus_thread" class="item-comments-count">26</a>
            </div>
          </div>
          <h4><a href="#">New smartphone with vacuum cleaner function became world hit</a></h4>
        </div>
      </div>

      <div class="col-md-3">
        <div class="col-item col-item-dark">
          <a href="#">
            <img src="img/blog/reviews/13.jpg" alt="alt" class="img-responsive img-width overlay" title="New smartphone with vacuum cleaner function became world hit">
          </a>
          <div class="col-item-meta">
            <div class="item-comments" title="Number of comments">
              <span class="date">25/12/2017</span>
              <i class="fa fa-comments"></i><a href="#disqus_thread" class="item-comments-count">26</a>
            </div>
          </div>
          <h4><a href="#">New smartphone with vacuum cleaner function became world hit</a></h4>
        </div>
      </div>

    </div>

  </div>

</section>