<header class="top-line">

  <a href="{{ site.baseurl }}" class="logo logo-litera">EleckTRON</a>

  <div class="search-wrap">
    <div class="search" title="Search...">
      <div class="fa fa-search"></div>
    </div>

    <div class="search-field">
      <form action="/search.html" id="cse-search-box">
        <input type="hidden" name="cx" value="partner-pub-xxx:xxx" />
        <input type="hidden" name="cof" value="FORID:10" />
        <input type="hidden" name="ie" value="UTF-8" />
        <input type="text" name="q" placeholder="Search..." />
      </form>
    </div>
  </div>

  <div class="mobile-menu-button"><i class="fa fa-bars"></i> Menu</div>

  <nav class="top-menu main-menu">
    {%- include /main-menu.html -%}
  </nav>

</header>