{% include /header-home.html %}
{%- include /top-line.html -%}


<div class="pattern pattern-cat-header">
  <div class="cat-header header-about">
    <div class="cat-header-block">
      <h1>About electron</h1>
    </div>
  </div>
</div>


<div class="article-content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-8">
        <article class="main-article">

          <div class="article-body">

            <p>The new version of the phone was shown by BaoliYota Technology at the IV Russian-Chinese EXPO in Harbin.</p>
            <p>YotaPhone 3 will be released in two versions: with 64 GB and 128 GB of expandable memory. The devices will cost $ 350 and $ 450, respectively. In addition, the smartphone will receive two independent screens, one of which is based on electronic ink technology. The device will go on sale at the end of this year.</p>
            <p>The YotaPhone 3 is speculated to be powered by a quad-core Snadpragon 820 processor, 3GB or 4GB of RAM (depending on version), and boasting a 13MP main and 5MP front cameras. The non-removable battery is rated for 3,500 mAh.</p>
            <p>"Judging by the technical characteristics, the YotaPhone 3 was specially simplified to make it cheaper. By the end of the year, when it goes on sale, it will be an obsolete device, the analogs of which were produced by other manufacturers two years ago," said Dmitry Ryabinin, project manager at Hi -Tech Mail.Ru.</p>
            <p>Far, far beyond the verbal mountains in the country, vowels and consonants live fishy texts. Warned signs in the distance, advertising, texts, italicized text all this time right which the first great distance gave! Insidious is the only thing left on the road.</p>

            <p>The new version of the phone was shown by BaoliYota Technology at the IV Russian-Chinese EXPO in Harbin.</p>
            <p>YotaPhone 3 will be released in two versions: with 64 GB and 128 GB of expandable memory. The devices will cost $ 350 and $ 450, respectively. In addition, the smartphone will receive two independent screens, one of which is based on electronic ink technology. The device will go on sale at the end of this year.</p>
            <p>The YotaPhone 3 is speculated to be powered by a quad-core Snadpragon 820 processor, 3GB or 4GB of RAM (depending on version), and boasting a 13MP main and 5MP front cameras. The non-removable battery is rated for 3,500 mAh.</p>
            <p>"Judging by the technical characteristics, the YotaPhone 3 was specially simplified to make it cheaper. By the end of the year, when it goes on sale, it will be an obsolete device, the analogs of which were produced by other manufacturers two years ago," said Dmitry Ryabinin, project manager at Hi -Tech Mail.Ru.</p>
            <p>The new version of the phone was shown by BaoliYota Technology at the IV Russian-Chinese EXPO in Harbin.</p>
            <p>YotaPhone 3 will be released in two versions: with 64 GB and 128 GB of expandable memory. The devices will cost $ 350 and $ 450, respectively. In addition, the smartphone will receive two independent screens, one of which is based on electronic ink technology. The device will go on sale at the end of this year.</p>

            <p>"Judging by the technical characteristics, the YotaPhone 3 was specially simplified to make it cheaper. By the end of the year, when it goes on sale, it will be an obsolete device, the analogs of which were produced by other manufacturers two years ago," said Dmitry Ryabinin, project manager at Hi -Tech Mail.Ru.</p>
            <p>The new version of the phone was shown by BaoliYota Technology at the IV Russian-Chinese EXPO in Harbin.</p>
            <p>YotaPhone 3 will be released in two versions: with 64 GB and 128 GB of expandable memory. The devices will cost $ 350 and $ 450, respectively. In addition, the smartphone will receive two independent screens, one of which is based on electronic ink technology. The device will go on sale at the end of this year.</p>

          </div>

        </article>
      </div>

      <div class="col-md-4">

{%- include /main-aside.html -%}

      </div>

    </div>
  </div>
</div>

{%- include /footer.html -%}