{%- include /header-category.html -%}
{%- include /top-line.html -%}

<section class="cat-list-first">
  <div class="container-fluid">

    <div class="ad top-ad">
      {%- include /ad-type-1.html -%}
    </div>

  </div>
</section>


<div class="cat-list">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-8">

        <div class="all-posts-header">{{ page.title }}</div>

        <div class="cat-list-wrap">

          {% for post in paginator.posts %}
          {% include /category-list-item.html %}
          {% endfor %}

        </div>

        {%- include /pagination-first.html -%}

      </div>

      <div class="col-md-4">
        {%- include /aside-category.html -%}
      </div>
    </div>
  </div>

  {%- include /pagination-second.html -%}

</div>

{%- include /footer.html -%}