{%- include /header-category.html -%}
{%- include /top-line.html -%}

<div class="pattern pattern-cat-header">
  <div class="cat-header overlay" style="background-image: url({{ page.image }})">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-7">
          <div class="cat-header-block">
            <h1>{{ page.title }}</h1>
            <p>{{ page.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="cat-list-first">
  <div class="container-fluid">

    <div class="ad top-ad">
      {%- include /ad-type-1.html -%}
    </div>


    <section class="type-one type-one-cat">
      <div class="row">

        <div class="col-md-7">
          {% for post in paginator.posts limit: 1 offset: 0 %}
          {% include /home-type-one-section-item-1.html %}
          {% endfor %}
        </div>

        <div class="col-md-5 item-title-white">
          {% for post in paginator.posts limit: 2 offset: 1 %}
          {% include /home-type-one-section-item-2.html %}
          {% endfor %}
        </div>
      </div>
    </section>


  </div>
</section>


<div class="cat-list">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-8">
        <div class="cat-list-wrap">


          {% for post in paginator.posts limit: 7 offset: 3 %}
          {% include /category-list-item.html %}
          {% endfor %}


        </div>

        <section class="pagination-section pagination-section-first text-center d-md-none">

          {%- if paginator.total_pages > 1 -%}
          {%- if paginator.next_page -%}
          <a href="{{ paginator.next_page_path }}" class="button">Next page <i class="fa fa-angle-double-right"></i></a>
          {%- endif -%}
          {%- endif -%}

          {%- if paginator.page_trail -%}
          <div class="pagination">

            {%- if paginator.previous_page -%}
            <a href="{{ paginator.previous_page_path }}" class="pagination-left" title="Previous page">&laquo;</a>
            {%- else -%}
            <span class="pagination-left" title="Previous page">&laquo;</span>
            {%- endif -%}

            {%- for trail in paginator.page_trail -%}
            {%- if page.url == trail.path -%}
            <span class="active">{{ trail.num }}</span>
            {%- else -%}
            <a href="{{ trail.path | remove: 'index.html' }}" title="{{ trail.title }}">{{ trail.num }}</a>
            {%- endif -%}
            {%- endfor -%}

            {%- if paginator.next_page -%}
            <a href="{{ paginator.next_page_path }}" class="pagination-left" title="Next page">&raquo;</a>
            {%- else -%}
            <span class="pagination-right" title="Next page">&raquo;</span>
            {%- endif -%}

          </div>
          {%- endif -%}

        </section>

      </div>

      <div class="col-md-4">

      {%- include /aside-category.html -%}

      </div>
    </div>
  </div>

  <section class="pagination-section text-center d-none d-md-block">
    {%- if paginator.total_pages > 1 -%}
    {%- if paginator.next_page -%}
    <a href="{{ paginator.next_page_path }}" class="button">Next page <i class="fa fa-angle-double-right"></i></a>
    {%- endif -%}
    {%- endif -%}

    {%- if paginator.page_trail -%}
    <div class="pagination">

      {%- if paginator.previous_page -%}
      <a href="{{ paginator.previous_page_path }}" class="pagination-left" title="Previous page">&laquo;</a>
      {%- else -%}
      <span class="pagination-left" title="Previous page">&laquo;</span>
      {%- endif -%}

      {%- for trail in paginator.page_trail -%}
      {%- if page.url == trail.path -%}
      <span class="active">{{ trail.num }}</span>
      {%- else -%}
      <a href="{{ trail.path | remove: 'index.html' }}" title="{{ trail.title }}">{{ trail.num }}</a>
      {%- endif -%}
      {%- endfor -%}

      {%- if paginator.next_page -%}
      <a href="{{ paginator.next_page_path }}" class="pagination-left" title="Next page">&raquo;</a>
      {%- else -%}
      <span class="pagination-right" title="Next page">&raquo;</span>
      {%- endif -%}

    </div>
    {%- endif -%}
  </section>

</div>

{%- include /footer.html -%}